language: android
jdk:
  - oraclejdk8
sudo: required
android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-21
    - android-26
    - sys-img-armeabi-v7a-android-21
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - extra-google-google_play_services
  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
before_script:
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a --skin 480x800
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
script:
  - ./gradlew clean jacocoTestReport lintDevDebug
notifications:
  webhooks: https://krake.one/travis-ci/361206263864098816/71AC1K7N3DFM9jhWVk3n1EGVYYsZdNU2cQ-_jBqVWWBHLa4J1IcaaXwtYq0ZN_EEMPHr
after_success:
  - bash <(curl -s https://codecov.io/bash)
